*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 80px;

}

h1{
    font-size: 100px;
    background-color: rgb(12, 86, 182);
    padding: 10px 50px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

button{
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: rgb(240, 240, 240);
}

button:active {
  scale: 0.95;
}
